*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
  overflow-x: hidden;
}



.normal{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.parallax::after {
  height: 100px; /* Hauteur du flou */
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width:80px ;
    
}

header ul{
    position:relative;
    display: flex;
}

header ul li{
    list-style: none; 
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}


.stockiframe{
    margin: 1em 1em 0em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

